*{
    margin:0;
    padding: 0;
}
body{
    background-image: url("images/fond.jpg");
    background-attachment: fixed;
    background-size: cover;
    
}
.container{
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.banner{
    width: 100%;
    height: auto;
    position: relative;
    color: blueviolet;
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    text-shadow: black 2px 4px 6px;
}
h1{
    background: radial-gradient( #413d48 0%, #000000 100%);
    opacity: 0.9;
    font-style:oblique;
    text-shadow:blue 1px 2px 3px;
    font-size: 60px;
}

.logo3{
    position: relative;
    text-align: center;
    width: 100%;
    opacity: 0.9;
}
.icon{
    position: absolute;
    z-index: 1000;
    width: 100px;
    top:-4rem;
    right: 1rem;
    left: -1rem;
    margin-right: 0.5rem;
}
.qr-code{
    position: relative;
    border: 1px solid white;
}
.code{
    margin: 0 auto;
    margin-top: -5rem;
    margin-right: 10rem;
}
span{
    color: white;
    display: flex;
    align-items: flex-end;
   justify-content: flex-end;
   text-transform: uppercase;
   margin-right: 7rem;
   margin-top: -2rem;
   font-size: 20px;
   font-weight: bold;
   color: #36c547;
}

h2{
    color: blueviolet;
    border: 2px black solid;
    background-color: black;
    text-align: center;
    font-size: 26px;
    font-family: monospace;
    text-shadow:blue 1px 2px 3px;
    margin-top: -4px;
}
.aside{
    position: relative;
    float:left;
}
audio{
    margin-left: 3rem;
}
.radio{
   float:left;
    position: relative;
    margin:40px;
   width: 400px;
   margin-top: 6rem;
   border: 3px solid white;
   border-radius: 20px;
   padding: 0.5rem;
}
p{
    font-style: normal;
    font-family: monospace;
    font-size: 22px;
    color: blueviolet;
   text-shadow:blue 1px 2px 3px;
   background-color: black;
   text-align: center;
   border-radius: 30px;
   margin-bottom: 10px;
}
::-webkit-scrollbar {
    width: 15px;
    background-color: rgb(8, 6, 10);
}
::-webkit-scrollbar-track {
    background-color: rgb(8, 6, 10);
    border-radius: 50px;
    margin:0;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: rgba(97, 43, 128, 0.13); 
    border-radius: 50px;
} /* this will style the thumb, ignoring the track */


::-webkit-scrollbar-corner {
    background-color: black;
} 
@media (max-width:980px){
    .code{
        margin-right: 8rem;
    }
    span{
        margin-left:1rem;
        font-size: 14px;
        margin-bottom: 0.5rem;
    }
}
@media (max-width:913px){
    .logo3{
        display: none;
    }
    span{
        margin-top: 9rem;
    }
}
@media (max-width:420px){
    audio{
        margin-left:0;
    }
    .radio{
        border: none;
        margin-right:1rem;
     }
     .icon{
        width: 103px;
        top:-4.8rem;
        left: 7rem;
    }
    .code{
        margin-right: 8rem;
    }
    span{
        margin-left:1rem;
        font-size: 14px;
        margin-bottom: 0.5rem;
    }
}